python==3.9.16
tensorflow==2.6.2
ultralytics==8.0.18
opencv-python==4.7.0.68
djitellopy==2.4.0 
tello-python==1.1.6 
numpy==1.23.5
pandas==1.1.4
scikit-learn==1.2.1 
seaborn==0.12.2
streamlit==1.17.0 
matplotlib==3.6.3  
plotly_express==0.4.0  
plotly==5.13.0 
